head
  title viewport - Konstantin Denerz
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  include dev
  include head-lib

  link(rel='stylesheet', type='text/css', href='style/viewport.css')
  script(src='scripts/viewport.js', type='text/javascript')
